body, html {
    height: 100%;
    margin: 0;
    background: #232325;
}

.section1 {
    background-image: url("background.png");
    height: 100%; 
    
    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: auto;

}